*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralway' , sans-serif;
}
/* start navbar css */
.navbar{
    display: flex;
    background-color: #928270;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
.parent{
    margin-right: 50px;
}
a{
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}
a:hover{
    cursor: pointer;
    color: blue;
}
/* End navbar  */



.main1{
    padding-top: 100px;
}
h1{
    text-align: center;
}
hr{
    text-align: center;
    width: 150px;
    text-align: center;
    margin-left: 685px;
    margin-top: 5px;
    border: 2px solid black;;
}
p{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
}










footer{
    background-color: #928270;
    margin-top: 120px;
}
.footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.footer1{
    padding-left: 20px;
}
.footer1 h4{
    font-size: large;
}
.footer2 h4{
    font-size: 16px;
    
}
.footer2 p{
    padding-top: 0;
    margin-top: 0;
}
.footer3{
    padding-right: 20px;
    padding-top: 30px;
}
.Copyright{
    text-align: center;
    padding-bottom: 25px;
}
.hr{
    border: 1px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
}
.hr1{
    border: 1px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
}